<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NodeJS Project</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="/css/style.css">

    <script src="/js/index.js"></script>
</head>
<body>
    <div class="container">
        <form action= <%= "/edit/" + userID %> method="post">
            <h2>Edit Infomation </h2>
            <p>Welcome user! Please fill in this form to edit your information.</p>
        
            <div class="info-input">
              <label for="uname"><b>Your Name</b></label>
              <input type="text" placeholder="Enter Your Name" name="realname" required>
        
              <label for="uname"><b>Job</b></label>
              <input type="text" placeholder="Enter Your Job" name="job" required>
        
              <label for="uname"><b>Address</b></label>
              <input type="text" placeholder="Enter Your Address" name="address" required>
        
              <button type="submit">Save Changes</button>
            </div>
        </form>
    </div>
</body>
